{
  "openapi": "3.1.0",
  "info": {
    "title": "Analytic Madhyasth Darshan discussions API",
    "version": "1.2.0",
    "description": "Per-study discussion boards on https://analyticmadhyasthdarshan.org. Readers sign in with an email magic link (no GitHub account required) to post comments. Structured corrections still use GitHub Issues. All POST requests require an exact trusted Origin and Content-Type: application/json, including logout. Local preview origins must be explicitly configured. All responses are private/no-store, including comment permissions. Magic links are single-use and expire after 15 minutes. JSON error responses use one envelope: success=false, code, message, requestId, and optional details. The same requestId is returned in the X-Request-ID response header."
  },
  "servers": [
    {
      "url": "https://analyticmadhyasthdarshan.org"
    }
  ],
  "tags": [
    {
      "name": "health"
    },
    {
      "name": "threads"
    },
    {
      "name": "auth"
    }
  ],
  "paths": {
    "/api/discussions/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness",
        "operationId": "getDiscussionsHealth",
        "responses": {
          "200": {
            "description": "Worker is serving requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/discussions/stats": {
      "get": {
        "tags": [
          "threads"
        ],
        "summary": "Comment counts per study slug",
        "operationId": "listDiscussionStats",
        "responses": {
          "200": {
            "description": "Thread stats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          }
        ]
      }
    },
    "/api/discussions/{slug}": {
      "get": {
        "tags": [
          "threads"
        ],
        "summary": "Visible comments for a study",
        "operationId": "listComments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Slug"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment list with an email-free viewer/session summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/discussions/{slug}/comments": {
      "post": {
        "tags": [
          "threads"
        ],
        "summary": "Post a comment",
        "operationId": "postComment",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommentRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 16,384 bytes.",
          "x-maxBodyBytes": 16384
        },
        "responses": {
          "201": {
            "description": "Comment created.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "success",
                    "comment"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "comment": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/discussions/{slug}/comments/{commentId}/hide": {
      "post": {
        "tags": [
          "threads"
        ],
        "summary": "Hide another user's comment (admin)",
        "operationId": "hideComment",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Slug"
          },
          {
            "$ref": "#/components/parameters/CommentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Hidden.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Maximum serialized JSON request size: 16,384 bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentMutationRequest"
              }
            }
          },
          "x-maxBodyBytes": 16384
        }
      }
    },
    "/api/discussions/{slug}/comments/{commentId}/delete": {
      "post": {
        "tags": [
          "threads"
        ],
        "summary": "Hide your own comment",
        "operationId": "deleteComment",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Slug"
          },
          {
            "$ref": "#/components/parameters/CommentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Hidden.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Maximum serialized JSON request size: 16,384 bytes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentMutationRequest"
              }
            }
          },
          "x-maxBodyBytes": 16384
        }
      }
    },
    "/api/discuss-auth/magic-link": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Send a sign-in email",
        "operationId": "requestMagicLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 16,384 bytes.",
          "x-maxBodyBytes": 16384
        },
        "responses": {
          "200": {
            "description": "Email sent (or verifyUrl in local dev).",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/discuss-auth/verify": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Consume a magic-link token and set the session cookie",
        "operationId": "verifyMagicLink",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "return_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect back to the discussion page."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/discuss-auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Current discussion session",
        "operationId": "getDiscussAuthMe",
        "responses": {
          "200": {
            "description": "Signed-in state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussAuthMe"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/discuss-auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Clear session",
        "operationId": "discussLogout",
        "responses": {
          "200": {
            "description": "Session cookie cleared.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "The request is invalid.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "invalid_request",
              "message": "The request is invalid.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "AuthenticationRequired": {
        "description": "Authentication is required.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "authentication_required",
              "message": "Authentication is required.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The request is forbidden.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "forbidden",
              "message": "The request is forbidden.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "not_found",
              "message": "The requested resource was not found.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "The HTTP method is not allowed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "method_not_allowed",
              "message": "The HTTP method is not allowed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current state.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "conflict",
              "message": "The request conflicts with current state.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request payload is too large.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "payload_too_large",
              "message": "The request payload is too large.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "unsupported_media_type",
              "message": "Content-Type must be application/json.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Preserve the request and wait for Retry-After before retrying.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimitPolicy"
          },
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "rate_limited",
              "message": "Too many requests. Retry after the indicated delay.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "InternalError": {
        "description": "The request failed unexpectedly.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "internal_error",
              "message": "The request failed unexpectedly.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UpstreamError": {
        "description": "An upstream service failed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "upstream_error",
              "message": "An upstream service failed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is unavailable.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "service_unavailable",
              "message": "A required service is unavailable.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "amd_discuss_session"
      }
    },
    "parameters": {
      "Slug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "maxLength": 60,
          "pattern": "^[A-Za-z0-9][A-Za-z0-9-]*$"
        }
      },
      "CommentId": {
        "name": "commentId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false,
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "code": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "requestId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Health": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "ok"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                },
                "latestAt": {
                  "type": "integer"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "meta"
        ]
      },
      "DiscussionViewer": {
        "type": "object",
        "required": [
          "loggedIn"
        ],
        "properties": {
          "loggedIn": {
            "type": "boolean"
          },
          "isAdmin": {
            "type": "boolean"
          }
        }
      },
      "DiscussionResponse": {
        "type": "object",
        "required": [
          "slug",
          "viewer",
          "comments",
          "meta"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "viewer": {
            "$ref": "#/components/schemas/DiscussionViewer"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PostCommentRequest": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "maxLength": 8192
          },
          "title": {
            "type": "string",
            "maxLength": 160
          },
          "parentId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "MagicLinkRequest": {
        "type": "object",
        "required": [
          "email",
          "displayName",
          "turnstileToken"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "displayName": {
            "type": "string",
            "maxLength": 80
          },
          "returnTo": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          }
        }
      },
      "DiscussAuthMe": {
        "type": "object",
        "required": [
          "loggedIn"
        ],
        "properties": {
          "loggedIn": {
            "type": "boolean"
          },
          "email": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "isAdmin": {
            "type": "boolean"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "total",
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total matching rows before pagination."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "CommentMutationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sourceUpdatedAt"
        ],
        "properties": {
          "sourceUpdatedAt": {
            "type": "integer",
            "minimum": 0,
            "description": "updatedAt value from the current comment representation."
          }
        }
      },
      "Comment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "parentId",
          "body",
          "authorName",
          "createdAt",
          "updatedAt",
          "canDelete",
          "canHide"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "body": {
            "type": "string",
            "maxLength": 8192
          },
          "authorName": {
            "type": "string",
            "maxLength": 80
          },
          "createdAt": {
            "type": "integer",
            "minimum": 0
          },
          "updatedAt": {
            "type": "integer",
            "minimum": 0,
            "description": "Source identifier required by hide/delete."
          },
          "canDelete": {
            "type": "boolean"
          },
          "canHide": {
            "type": "boolean"
          }
        }
      }
    },
    "headers": {
      "RequestId": {
        "description": "Correlation identifier for this failed request.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128
        }
      },
      "RateLimitPolicy": {
        "description": "Quota policy. The edge IP policy is 40 requests per 10 seconds; route-specific policies may also be listed.",
        "schema": {
          "type": "string"
        }
      },
      "RateLimit": {
        "description": "Structured remaining quota and seconds until reset for the most constraining worker policy.",
        "schema": {
          "type": "string"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a 429 response. This takes precedence over reset hints in RateLimit.",
        "schema": {
          "type": "string",
          "pattern": "^\\d+$"
        }
      }
    }
  }
}
