{
  "openapi": "3.1.0",
  "info": {
    "title": "Analytic Madhyasth Darshan public study catalog",
    "version": "1.5.0",
    "description": "Read-only catalog of topical, formal, and applied studies. Markdown is the source of truth; HTML and PDF are generated. Write APIs (submissions, discussions) are separate and for humans; see /auth.md. Every dynamic API response carries an X-Request-ID header. JSON error responses use one envelope: success=false, code, message, requestId, and optional details; the error body uses the same request ID."
  },
  "servers": [
    {
      "url": "https://analyticmadhyasthdarshan.org"
    }
  ],
  "tags": [
    {
      "name": "catalog"
    },
    {
      "name": "search"
    },
    {
      "name": "discovery"
    },
    {
      "name": "cite"
    }
  ],
  "paths": {
    "/Studies/catalog-all.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Unified catalog",
        "operationId": "getCatalogAll",
        "description": "All topical, formal, and applied rows in one array. Each row includes a collection field.",
        "responses": {
          "200": {
            "description": "Catalog rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogRow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Studies/catalog-topical.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Topical catalog",
        "operationId": "getCatalogTopical",
        "responses": {
          "200": {
            "description": "Topical catalog rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogRow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Studies/catalog-formal.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Formal catalog",
        "operationId": "getCatalogFormal",
        "responses": {
          "200": {
            "description": "Formal catalog rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogRow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Studies/catalog-applied.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Applied catalog",
        "operationId": "getCatalogApplied",
        "responses": {
          "200": {
            "description": "Applied catalog rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogRow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Studies/feed.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Change feed",
        "operationId": "getStudiesFeed",
        "description": "JSON Feed 1.1 of draft and released studies, newest Edited-on first. Ongoing rows are omitted.",
        "responses": {
          "200": {
            "description": "JSON Feed.",
            "content": {
              "application/feed+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/Studies/glossary.json": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Shared glossary",
        "operationId": "getGlossary",
        "responses": {
          "200": {
            "description": "Glossary terms used across studies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Glossary"
                }
              }
            }
          }
        }
      }
    },
    "/api/studies/health": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Study API dependency readiness",
        "operationId": "getStudiesHealth",
        "responses": {
          "200": {
            "description": "Runtime liveness and publication-origin readiness.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/studies": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search catalog rows",
        "operationId": "searchStudies",
        "description": "Same matching as WebMCP search_studies: substring match on title, slug, description, and category.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search text. Alias: query."
          },
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "topical",
                "formal",
                "applied"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ongoing",
                "draft",
                "released"
              ]
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 60,
              "pattern": "^[A-Za-z0-9-]+$"
            },
            "description": "Exact catalog directory name."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Matching studies with absolute HTML, PDF, and Markdown URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/studies/{slug}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "One study with heading outline",
        "operationId": "getStudyBySlug",
        "description": "Catalog row plus ## and ### headings from the canonical markdown. Markdown itself is not inlined; use mdUrl or MCP resource studies://study/{slug}.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 60
            },
            "description": "Catalog directory name, for example The-Ontology-of-Coexistence."
          }
        ],
        "responses": {
          "200": {
            "description": "Study metadata and heading outline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyDetail"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/glossary": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Search glossary terms",
        "operationId": "searchGlossary",
        "description": "Substring match on id, display form, match aliases, and definition. Omit q to return every term.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search text. Alias: query."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Matching glossary terms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlossarySearchResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/start-here": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Recommended reading path",
        "operationId": "getStartHere",
        "description": "Ordered Start here stages with core and related slugs, one-line reasons, and catalog URLs. Aligns with the studies landing page.",
        "responses": {
          "200": {
            "description": "Reading path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartHere"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/api/cite/{slug}": {
      "get": {
        "tags": [
          "cite"
        ],
        "summary": "Suggested citation for one study",
        "operationId": "getStudyCitation",
        "description": "Title, slug, status, Edited-on, published document URL, and a suggested citation line. Ongoing rows without a document are not citable. Do not invent timestamps.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 60
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Citation payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CiteResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false,
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "code": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "requestId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "DependencyCheck": {
        "type": "object",
        "required": [
          "status",
          "required"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "degraded",
              "disabled"
            ]
          },
          "required": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Health": {
        "type": "object",
        "required": [
          "status",
          "service",
          "schemaVersion",
          "checks"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "service": {
            "type": "string",
            "const": "studies"
          },
          "schemaVersion": {
            "type": "integer",
            "const": 1
          },
          "checks": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DependencyCheck"
            }
          }
        },
        "additionalProperties": false
      },
      "CatalogRow": {
        "type": "object",
        "required": [
          "slug",
          "title",
          "status"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ongoing",
              "draft",
              "released"
            ]
          },
          "updated": {
            "type": "string"
          },
          "collection": {
            "type": "string",
            "enum": [
              "topical",
              "formal",
              "applied"
            ],
            "description": "Present on catalog-all.json rows."
          },
          "html": {
            "type": "string",
            "description": "Relative to /Studies/. Omitted for ongoing rows."
          },
          "pdf": {
            "type": "string"
          },
          "md": {
            "type": "string",
            "description": "Canonical markdown source. Omitted for ongoing rows."
          },
          "discussion": {
            "type": "string"
          }
        }
      },
      "SearchStudy": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "updated": {
            "type": [
              "string",
              "null"
            ]
          },
          "htmlUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "pdfUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "mdUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "required": [
          "count",
          "studies",
          "total",
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Rows returned in this page."
          },
          "studies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchStudy"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total matching rows before pagination."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "Glossary": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "match": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "display": {
                  "type": "string"
                },
                "definition": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Heading": {
        "type": "object",
        "properties": {
          "level": {
            "type": "integer",
            "enum": [
              2,
              3
            ]
          },
          "heading": {
            "type": "string"
          }
        }
      },
      "StudyDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SearchStudy"
          },
          {
            "type": "object",
            "properties": {
              "outline": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Heading"
                }
              }
            }
          }
        ]
      },
      "GlossarySearchResponse": {
        "type": "object",
        "required": [
          "count",
          "terms",
          "total",
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "description": "Rows returned in this page."
          },
          "terms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "match": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "display": {
                  "type": "string"
                },
                "definition": {
                  "type": "string"
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total matching rows before pagination."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "StartHere": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "intro": {
            "type": "string"
          },
          "stages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "parallelTrack": {
            "type": "object"
          }
        }
      },
      "CiteResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SearchStudy"
          },
          {
            "type": "object",
            "properties": {
              "author": {
                "type": "string"
              },
              "editedOn": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "url": {
                "type": "string"
              },
              "citation": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "headers": {
      "RequestId": {
        "description": "Correlation identifier for this failed request.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128
        }
      },
      "RateLimitPolicy": {
        "description": "Edge IP quota policy: 40 requests per 10 seconds.",
        "schema": {
          "type": "string"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a 429 response.",
        "schema": {
          "type": "string",
          "pattern": "^\\d+$"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is invalid.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "invalid_request",
              "message": "The request is invalid.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "AuthenticationRequired": {
        "description": "Authentication is required.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "authentication_required",
              "message": "Authentication is required.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The request is forbidden.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "forbidden",
              "message": "The request is forbidden.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "not_found",
              "message": "The requested resource was not found.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "The HTTP method is not allowed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "method_not_allowed",
              "message": "The HTTP method is not allowed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current state.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "conflict",
              "message": "The request conflicts with current state.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request payload is too large.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "payload_too_large",
              "message": "The request payload is too large.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "unsupported_media_type",
              "message": "Content-Type must be application/json.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Wait for Retry-After before retrying.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimitPolicy"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "rate_limited",
              "message": "Too many requests. Retry after the indicated delay.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "InternalError": {
        "description": "The request failed unexpectedly.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "internal_error",
              "message": "The request failed unexpectedly.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UpstreamError": {
        "description": "An upstream service failed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "upstream_error",
              "message": "An upstream service failed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is unavailable.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "service_unavailable",
              "message": "A required service is unavailable.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      }
    }
  }
}
