{
  "openapi": "3.1.0",
  "info": {
    "title": "Analytic Madhyasth Darshan submission portal API",
    "version": "1.1.0",
    "description": "GitHub-authenticated API that backs the Web Submission Portal at https://analyticmadhyasthdarshan.org/Studies/submit.html. Contributors propose studies, submit drafts, update published markdown, and request Draft/Released status changes. Most write routes require a first-party session cookie plus a Cloudflare Turnstile token. Browser POST requests also require an exact trusted Origin and Content-Type: application/json, including logout. Local preview origins must be explicitly configured. All responses are private/no-store. The machine-only /api/notify endpoint uses its separate secret and JSON without browser cookies or Origin."
  },
  "servers": [
    {
      "url": "https://api.analyticmadhyasthdarshan.org"
    }
  ],
  "tags": [
    { "name": "health" },
    { "name": "auth" },
    { "name": "submissions" },
    { "name": "notify" }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": ["health"],
        "summary": "Liveness",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Worker is serving requests.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Health" }
              }
            }
          }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "tags": ["auth"],
        "summary": "Start GitHub OAuth",
        "operationId": "startGitHubOAuth",
        "parameters": [
          {
            "name": "return_to",
            "in": "query",
            "schema": { "type": "string", "format": "uri" }
          }
        ],
        "responses": {
          "302": { "description": "Redirect to GitHub authorize." },
          "503": { "description": "OAuth is not configured." }
        }
      }
    },
    "/api/auth/callback": {
      "get": {
        "tags": ["auth"],
        "summary": "GitHub OAuth callback",
        "operationId": "githubOAuthCallback",
        "responses": {
          "302": { "description": "Sets the session cookie and returns to the portal." }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["auth"],
        "summary": "Current session",
        "operationId": "getAuthMe",
        "responses": {
          "200": {
            "description": "Signed-in state.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AuthMe" }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["auth"],
        "summary": "Clear session",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Session cookie cleared.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Ok" }
              }
            }
          }
        }
      }
    },
    "/api/me/submissions": {
      "get": {
        "tags": ["submissions"],
        "summary": "Dashboard of the signed-in contributor's proposals and study PRs",
        "operationId": "listMySubmissions",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Unified proposal and pull-request dashboard.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionDashboard" }
              }
            }
          },
          "401": { "description": "Not signed in." }
        }
      }
    },
    "/api/me/notifications": {
      "get": {
        "tags": ["submissions"],
        "summary": "Email notification preferences",
        "operationId": "getNotificationPrefs",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Current preferences.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NotificationPreferences" }
              }
            }
          },
          "401": { "description": "Not signed in." }
        }
      },
      "post": {
        "tags": ["submissions"],
        "summary": "Update email notification preferences",
        "operationId": "setNotificationPrefs",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NotificationPreferencesUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preferences.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NotificationPreferences" }
              }
            }
          },
          "401": { "description": "Not signed in." }
        }
      }
    },
    "/api/propose": {
      "post": {
        "tags": ["submissions"],
        "summary": "Open a study-proposal GitHub issue",
        "operationId": "proposeStudy",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProposeRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Issue created." },
          "401": { "description": "Not signed in." }
        }
      }
    },
    "/api/proposal-status": {
      "get": {
        "tags": ["submissions"],
        "summary": "Approval state of a proposal issue",
        "operationId": "getProposalStatus",
        "parameters": [
          {
            "name": "issue",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": { "description": "Proposal status." },
          "400": { "description": "Missing or invalid issue number." }
        }
      }
    },
    "/api/study-source": {
      "get": {
        "tags": ["submissions"],
        "summary": "Published study or registered companion-note Markdown",
        "operationId": "getStudySource",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "artifactType",
            "in": "query",
            "schema": { "type": "string", "enum": ["study", "note"], "default": "study" }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Registered note filename when artifactType is note.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Markdown source." },
          "404": { "description": "No published markdown for that slug." }
        }
      }
    },
    "/api/study-artifacts": {
      "get": {
        "tags": ["submissions"],
        "summary": "Editable studies and their registered notes and presentations",
        "operationId": "listStudyArtifacts",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "The complete registry, or one study mapping when slug is supplied." },
          "404": { "description": "No editable study has that slug." }
        }
      }
    },
    "/api/revision-source": {
      "get": {
        "tags": ["submissions"],
        "summary": "Load Markdown from an owned first-draft pull request",
        "operationId": "getRevisionSource",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "name": "pr",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Current Markdown and pull-request identity.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RevisionSource" }
              }
            }
          },
          "400": { "description": "Missing or invalid pull-request number." },
          "401": { "description": "Not signed in." },
          "403": { "description": "The pull request is not owned by the signed-in contributor." }
        }
      }
    },
    "/api/revise": {
      "post": {
        "tags": ["submissions"],
        "summary": "Commit revised Markdown to an owned first-draft pull request",
        "operationId": "reviseDraft",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReviseRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Revision committed to the existing pull request." },
          "400": { "description": "Invalid revision payload." },
          "401": { "description": "Not signed in." },
          "403": { "description": "The pull request is not owned by the signed-in contributor." }
        }
      }
    },
    "/api/submit": {
      "post": {
        "tags": ["submissions"],
        "summary": "Open a new-study or study-update pull request",
        "operationId": "submitStudy",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Pull request opened." },
          "401": { "description": "Not signed in." }
        }
      }
    },
    "/api/status-change": {
      "post": {
        "tags": ["submissions"],
        "summary": "Open a status-change pull request (Draft ↔ Released)",
        "operationId": "changeStudyStatus",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StatusChangeRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Pull request opened." },
          "401": { "description": "Not signed in." }
        }
      }
    },
    "/api/delete-artifact": {
      "post": {
        "tags": ["submissions"],
        "summary": "Open a reviewable pull request to delete an owned study artifact",
        "operationId": "deleteStudyArtifact",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeleteArtifactRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Deletion pull request opened." },
          "400": { "description": "Invalid or unregistered artifact." },
          "401": { "description": "Not signed in." },
          "403": { "description": "The study is not owned by the signed-in contributor." }
        }
      }
    },
    "/api/notify": {
      "post": {
        "tags": ["notify"],
        "summary": "Send an approval, decline, or merge email (CI hook)",
        "operationId": "notifyContributor",
        "security": [{ "notifySecret": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NotifyRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Sent or skipped (no opt-in)." },
          "401": { "description": "Missing or wrong X-Notify-Secret." },
          "503": { "description": "Notifications are not configured." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "amd_session"
      },
      "notifySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Notify-Secret"
      }
    },
    "schemas": {
      "Health": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": { "type": "string", "const": "ok" }
        }
      },
      "Ok": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" }
        }
      },
      "AuthMe": {
        "type": "object",
        "required": ["loggedIn"],
        "properties": {
          "loggedIn": { "type": "boolean" },
          "login": { "type": "string" },
          "userId": { "type": "integer" }
        }
      },
      "SubmissionDashboard": {
        "type": "object",
        "required": ["success", "login", "submissions", "meta"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "login": { "type": "string" },
          "submissions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SubmissionDashboardRow" }
          },
          "meta": { "$ref": "#/components/schemas/SubmissionDashboardMeta" }
        }
      },
      "SubmissionDashboardMeta": {
        "type": "object",
        "required": ["timingMs", "githubRequests", "truncated"],
        "properties": {
          "timingMs": { "type": "integer", "minimum": 0 },
          "githubRequests": { "type": "integer", "minimum": 0 },
          "truncated": { "type": "boolean" }
        }
      },
      "SubmissionDashboardRow": {
        "type": "object",
        "required": ["kind", "kindLabel", "title", "categories", "stage"],
        "properties": {
          "kind": { "type": "string", "enum": ["proposal", "pull-request"] },
          "kindLabel": { "type": "string" },
          "prType": { "type": ["string", "null"] },
          "issueNumber": { "type": ["integer", "null"] },
          "title": { "type": "string" },
          "slug": { "type": ["string", "null"] },
          "categories": { "type": "array", "items": { "type": "string" } },
          "stage": {
            "type": "string",
            "description": "Current proposal or pull-request workflow stage."
          },
          "catalogStatus": {
            "type": ["string", "null"],
            "enum": ["ongoing", "pre-catalog", "draft", "released", null]
          },
          "primaryAction": { "type": ["object", "null"] },
          "secondaryActions": { "type": "array", "items": { "type": "object" } },
          "pullRequest": { "type": ["object", "null"] },
          "checks": { "type": ["object", "null"] }
        },
        "additionalProperties": true
      },
      "NotificationPreferences": {
        "type": "object",
        "required": ["success", "email", "enabled"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "configured": {
            "type": "boolean",
            "description": "Whether outbound notification delivery is configured. Present on GET responses."
          },
          "email": { "type": ["string", "null"], "format": "email" },
          "enabled": { "type": "boolean" }
        }
      },
      "NotificationPreferencesUpdate": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "enabled": { "type": "boolean" }
        },
        "minProperties": 1
      },
      "RevisionSource": {
        "type": "object",
        "required": ["success", "prNumber", "pullRequestUrl", "slug", "content"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "prNumber": { "type": "integer", "minimum": 1 },
          "pullRequestUrl": { "type": "string", "format": "uri" },
          "slug": { "type": "string" },
          "content": { "type": "string", "description": "UTF-8 Markdown from the pull-request branch." }
        }
      },
      "ReviseRequest": {
        "type": "object",
        "required": ["prNumber", "author", "content", "turnstileToken"],
        "properties": {
          "prNumber": { "type": "integer", "minimum": 1 },
          "author": { "type": "string", "minLength": 1 },
          "content": { "type": "string", "description": "Replacement study Markdown." },
          "turnstileToken": { "type": "string" }
        }
      },
      "DeleteArtifactRequest": {
        "type": "object",
        "required": ["slug", "artifactType", "turnstileToken"],
        "properties": {
          "slug": { "type": "string", "maxLength": 60, "pattern": "^[A-Za-z0-9-]+$" },
          "artifactType": { "type": "string", "enum": ["study", "note", "presentation"] },
          "fileName": {
            "type": "string",
            "description": "Required for a registered note or presentation; ignored for a complete study deletion."
          },
          "turnstileToken": { "type": "string" }
        },
        "allOf": [
          {
            "if": {
              "properties": { "artifactType": { "enum": ["note", "presentation"] } },
              "required": ["artifactType"]
            },
            "then": { "required": ["fileName"] }
          }
        ]
      },
      "NotifyRequest": {
        "type": "object",
        "required": ["login", "event"],
        "properties": {
          "login": { "type": "string", "description": "GitHub login, with or without a leading @." },
          "event": { "type": "string", "enum": ["approved", "declined", "merged"] },
          "title": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "ProposeRequest": {
        "type": "object",
        "required": ["title", "category", "description", "summary", "familiarity", "turnstileToken"],
        "properties": {
          "title": { "type": "string" },
          "category": { "type": "string" },
          "description": { "type": "string" },
          "summary": { "type": "string" },
          "formal": { "type": "boolean" },
          "familiarity": { "type": "string" },
          "turnstileToken": { "type": "string" }
        }
      },
      "SubmitRequest": {
        "type": "object",
        "required": ["slug", "author", "turnstileToken"],
        "properties": {
          "slug": { "type": "string", "maxLength": 60, "pattern": "^[A-Za-z0-9-]+$" },
          "author": { "type": "string" },
          "artifactType": {
            "type": "string",
            "enum": ["study", "note", "presentation"],
            "default": "study",
            "description": "Study Markdown, a companion technical/research note, or a PowerPoint presentation."
          },
          "fileName": {
            "type": "string",
            "description": "Required for note and presentation uploads; the registered destination basename to replace, or a safe new basename ending in .md or .pptx."
          },
          "content": {
            "type": "string",
            "description": "UTF-8 Markdown content for study and note submissions (2 MB maximum)."
          },
          "contentBase64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded .pptx content for presentation submissions (10 MB maximum before encoding)."
          },
          "isNew": { "type": "boolean" },
          "proposalIssue": { "type": "integer" },
          "turnstileToken": { "type": "string" }
        },
        "oneOf": [
          { "required": ["content"] },
          { "required": ["fileName", "contentBase64"] }
        ]
      },
      "StatusChangeRequest": {
        "type": "object",
        "required": ["slug", "targetStatus", "turnstileToken"],
        "properties": {
          "slug": { "type": "string" },
          "targetStatus": { "type": "string", "enum": ["draft", "released"] },
          "reason": { "type": "string" },
          "turnstileToken": { "type": "string" }
        }
      }
    }
  }
}
