{
  "openapi": "3.1.0",
  "info": {
    "title": "Analytic Madhyasth Darshan submission portal API",
    "version": "1.5.0",
    "description": "GitHub-authenticated API that backs the Web Submission Portal at https://analyticmadhyasthdarshan.org/Studies/submit.html. Contributors propose studies, submit drafts, update published markdown, and request Draft/Released status changes. Most write routes require a first-party session cookie plus a Cloudflare Turnstile token. Browser POST requests also require an exact trusted Origin and Content-Type: application/json, including logout. Local preview origins must be explicitly configured. All responses are private/no-store. The machine-only /api/notify endpoint uses its separate secret and JSON without browser cookies or Origin. JSON error responses use one envelope: success=false, code, message, requestId, and optional details. The same requestId is returned in the X-Request-ID response header."
  },
  "servers": [
    {
      "url": "https://api.analyticmadhyasthdarshan.org"
    }
  ],
  "tags": [
    {
      "name": "health"
    },
    {
      "name": "auth"
    },
    {
      "name": "submissions"
    },
    {
      "name": "notify"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Liveness",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Worker is serving requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Start GitHub OAuth",
        "operationId": "startGitHubOAuth",
        "parameters": [
          {
            "name": "return_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to GitHub authorize."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/auth/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "GitHub OAuth callback",
        "operationId": "githubOAuthCallback",
        "responses": {
          "302": {
            "description": "Sets the session cookie and returns to the portal."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Current session",
        "operationId": "getAuthMe",
        "responses": {
          "200": {
            "description": "Signed-in state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMe"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Clear session",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Session cookie cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/me/submissions": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Dashboard of the signed-in contributor's proposals and study PRs",
        "operationId": "listMySubmissions",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Unified proposal and pull-request dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionDashboard"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "preparing",
                "accepted",
                "declined",
                "retired",
                "pr-open",
                "changes_requested",
                "merged",
                "pr-closed",
                "closed"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          }
        ]
      }
    },
    "/api/me/submissions/status": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Current review and CI state for the contributor's open study PRs",
        "operationId": "listMyOpenSubmissionStatuses",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lightweight status refresh for open pull requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionStatusDashboard"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          }
        ]
      }
    },
    "/api/me/notifications": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Email notification preferences",
        "operationId": "getNotificationPrefs",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Update email notification preferences",
        "operationId": "setNotificationPrefs",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferencesUpdate"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 65,536 bytes.",
          "x-maxBodyBytes": 65536
        },
        "responses": {
          "200": {
            "description": "Updated preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/propose": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Open a study-proposal GitHub issue",
        "operationId": "proposeStudy",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposeRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 65,536 bytes.",
          "x-maxBodyBytes": 65536
        },
        "responses": {
          "200": {
            "description": "Issue created.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/proposal-status": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Approval state of a proposal issue",
        "operationId": "getProposalStatus",
        "parameters": [
          {
            "name": "issue",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proposal status.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/study-source": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Published study or registered companion source identifier",
        "operationId": "getStudySource",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 60,
              "pattern": "^[A-Za-z0-9-]+$"
            }
          },
          {
            "name": "artifactType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "study",
                "note",
                "presentation",
                "presenter",
                "asset"
              ],
              "default": "study"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Registered note or presentation filename.",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          },
          {
            "name": "pr",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "For asset source versions on an owned first-draft PR branch. Requires an authenticated owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown content plus its sourceSha, or presentation metadata plus its sourceSha.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudySource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/study-artifacts": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Editable studies and their registered notes and presentations",
        "operationId": "listStudyArtifacts",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 60,
              "pattern": "^[A-Za-z0-9-]+$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum rows returned in this page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "description": "Zero-based offset into matching rows."
          }
        ],
        "responses": {
          "200": {
            "description": "The complete registry, or one study mapping when slug is supplied.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/revision-source": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Load Markdown from an owned first-draft pull request",
        "operationId": "getRevisionSource",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "pr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current Markdown and pull-request identity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionSource"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/revise": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Commit revised Markdown to an owned first-draft pull request",
        "operationId": "reviseDraft",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviseRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 20,000,000 bytes.",
          "x-maxBodyBytes": 20000000
        },
        "responses": {
          "200": {
            "description": "Revision committed to the existing pull request.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/submit": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Open a new-study or study-update pull request",
        "operationId": "submitStudy",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 20,000,000 bytes.",
          "x-maxBodyBytes": 20000000
        },
        "responses": {
          "200": {
            "description": "Pull request opened.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/status-change": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Open a status-change pull request (Draft ↔ Released)",
        "operationId": "changeStudyStatus",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusChangeRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 65,536 bytes.",
          "x-maxBodyBytes": 65536
        },
        "responses": {
          "200": {
            "description": "Pull request opened.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/delete-artifact": {
      "post": {
        "tags": [
          "submissions"
        ],
        "summary": "Open a reviewable pull request to delete an owned study artifact",
        "operationId": "deleteStudyArtifact",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteArtifactRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 65,536 bytes.",
          "x-maxBodyBytes": 65536
        },
        "responses": {
          "200": {
            "description": "Deletion pull request opened.",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "RateLimit": {
                "$ref": "#/components/headers/RateLimit"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/notify": {
      "post": {
        "tags": [
          "notify"
        ],
        "summary": "Send an approval, decline, or merge email (CI hook)",
        "operationId": "notifyContributor",
        "security": [
          {
            "notifySecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyRequest"
              }
            }
          },
          "description": "Maximum serialized JSON request size: 65,536 bytes.",
          "x-maxBodyBytes": 65536
        },
        "responses": {
          "200": {
            "description": "Sent or skipped (no opt-in).",
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/operation": {
      "get": {
        "tags": [
          "submissions"
        ],
        "summary": "Check an account-scoped submission receipt without repeating the write",
        "operationId": "getContributionOperation",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stable operation state. A notStarted response permits retry only with the same operationId and identical content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "The request is invalid.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "invalid_request",
              "message": "The request is invalid.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "AuthenticationRequired": {
        "description": "Authentication is required.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "authentication_required",
              "message": "Authentication is required.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The request is forbidden.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "forbidden",
              "message": "The request is forbidden.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "not_found",
              "message": "The requested resource was not found.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "The HTTP method is not allowed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "method_not_allowed",
              "message": "The HTTP method is not allowed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current state.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "conflict",
              "message": "The request conflicts with current state.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request payload is too large.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "payload_too_large",
              "message": "The request payload is too large.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Content-Type must be application/json.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "unsupported_media_type",
              "message": "Content-Type must be application/json.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Preserve the request and wait for Retry-After before retrying.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimitPolicy"
          },
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "rate_limited",
              "message": "Too many requests. Retry after the indicated delay.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "InternalError": {
        "description": "The request failed unexpectedly.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "internal_error",
              "message": "The request failed unexpectedly.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "UpstreamError": {
        "description": "An upstream service failed.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "upstream_error",
              "message": "An upstream service failed.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is unavailable.",
        "headers": {
          "X-Request-ID": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "code": "service_unavailable",
              "message": "A required service is unavailable.",
              "requestId": "01JABCDEFGHJKMNPQRSTVWXYZ12"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "amd_session"
      },
      "notifySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Notify-Secret"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "code",
          "message",
          "requestId"
        ],
        "additionalProperties": false,
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "code": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "requestId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Health": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "const": "ok"
          }
        }
      },
      "Ok": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "AuthMe": {
        "type": "object",
        "required": [
          "loggedIn"
        ],
        "properties": {
          "loggedIn": {
            "type": "boolean"
          },
          "login": {
            "type": "string"
          },
          "userId": {
            "type": "integer"
          }
        }
      },
      "SubmissionDashboard": {
        "type": "object",
        "required": [
          "success",
          "login",
          "submissions",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "login": {
            "type": "string"
          },
          "submissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubmissionDashboardRow"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SubmissionDashboardMeta"
          }
        }
      },
      "SubmissionDashboardMeta": {
        "type": "object",
        "required": [
          "timingMs",
          "githubRequests",
          "truncated",
          "total",
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "timingMs": {
            "type": "integer",
            "minimum": 0
          },
          "githubRequests": {
            "type": "integer",
            "minimum": 0
          },
          "truncated": {
            "type": "boolean"
          },
          "repositorySha": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[a-f0-9]{40}$",
            "description": "Git SHA of the repository default branch used for this dashboard page. Compare with publication.sourceSha to tell a live release from a merge that is still publishing."
          },
          "phaseTimingMs": {
            "type": "object",
            "properties": {
              "base": {
                "type": "integer",
                "minimum": 0
              },
              "enrichment": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total matching rows before pagination."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "SubmissionDashboardRow": {
        "type": "object",
        "required": [
          "kind",
          "kindLabel",
          "title",
          "categories",
          "stage"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "proposal",
              "pull-request"
            ]
          },
          "kindLabel": {
            "type": "string"
          },
          "prType": {
            "type": [
              "string",
              "null"
            ]
          },
          "issueNumber": {
            "type": [
              "integer",
              "null"
            ]
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stage": {
            "type": "string",
            "description": "Current proposal or pull-request workflow stage."
          },
          "catalogStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "ongoing",
              "pre-catalog",
              "draft",
              "released",
              null
            ]
          },
          "publication": {
            "type": "object",
            "required": [
              "state"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "published",
                  "publishing",
                  "unknown"
                ],
                "description": "published when the public site source SHA matches the repository snapshot; publishing when the site lags that snapshot; unknown when publication.json could not be read."
              },
              "revision": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sourceSha": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "repositorySha": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "status": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "ongoing",
                  "draft",
                  "released",
                  null
                ]
              }
            }
          },
          "primaryAction": {
            "type": [
              "object",
              "null"
            ]
          },
          "secondaryActions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "pullRequest": {
            "type": [
              "object",
              "null"
            ]
          },
          "checks": {
            "type": [
              "object",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "SubmissionStatusDashboard": {
        "type": "object",
        "required": [
          "success",
          "login",
          "statuses",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "login": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubmissionStatusRow"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/SubmissionDashboardMeta"
          }
        }
      },
      "SubmissionStatusRow": {
        "type": "object",
        "required": [
          "number",
          "stage",
          "feedback",
          "pullRequest",
          "checks"
        ],
        "properties": {
          "number": {
            "type": "integer"
          },
          "stage": {
            "type": "string",
            "enum": [
              "pr-open",
              "changes_requested"
            ]
          },
          "feedback": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "pullRequest": {
            "type": "object"
          },
          "checks": {
            "type": "object"
          }
        },
        "additionalProperties": true
      },
      "NotificationPreferences": {
        "type": "object",
        "required": [
          "success",
          "email",
          "enabled",
          "sourceVersion"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "configured": {
            "type": "boolean",
            "description": "Whether outbound notification delivery is configured. Present on GET responses."
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "maxLength": 254
          },
          "enabled": {
            "type": "boolean"
          },
          "sourceVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Opaque concurrency token for the current preferences."
          }
        }
      },
      "NotificationPreferencesUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "enabled": {
            "type": "boolean"
          },
          "sourceVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          }
        },
        "minProperties": 1,
        "required": [
          "sourceVersion"
        ]
      },
      "RevisionSource": {
        "type": "object",
        "required": [
          "success",
          "prNumber",
          "pullRequestUrl",
          "slug",
          "content",
          "sourceSha"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "prNumber": {
            "type": "integer",
            "minimum": 1
          },
          "pullRequestUrl": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string",
            "maxLength": 60
          },
          "content": {
            "type": "string",
            "description": "UTF-8 Markdown from the pull-request branch.",
            "maxLength": 2097152
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Required whenever an existing study, note, or presentation is replaced. Stale values return 409 with details.currentSource."
          }
        }
      },
      "ReviseRequest": {
        "type": "object",
        "required": [
          "prNumber",
          "author",
          "content",
          "turnstileToken",
          "operationId",
          "sourceSha"
        ],
        "properties": {
          "prNumber": {
            "type": "integer",
            "minimum": 1
          },
          "author": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "content": {
            "type": "string",
            "description": "Replacement study Markdown; runtime limit is 2,097,152 UTF-8 bytes.",
            "maxLength": 2097152
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "operationId": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "description": "Client-generated UUIDv4 retained across interrupted/retried requests. Reusing it with different content is rejected."
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Required whenever an existing study, note, or presentation is replaced. Stale values return 409 with details.currentSource."
          },
          "assets": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/FigureAttachment"
            },
            "description": "Figure sources committed with the document. Up to 2 MB each and 3 MB for all attachments combined. Existing figures require sourceSha."
          }
        }
      },
      "DeleteArtifactRequest": {
        "type": "object",
        "required": [
          "slug",
          "artifactType",
          "turnstileToken",
          "operationId"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "artifactType": {
            "type": "string",
            "enum": [
              "study",
              "note",
              "presentation",
              "presenter",
              "companions"
            ]
          },
          "fileName": {
            "type": "string",
            "description": "Required for a registered note or presentation; ignored for a complete study deletion.",
            "maxLength": 120
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "operationId": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "description": "Client-generated UUIDv4 retained across interrupted/retried requests. Reusing it with different content is rejected."
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Required whenever an existing study, note, or presentation is replaced. Stale values return 409 with details.currentSource."
          },
          "artifacts": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "type": "object",
              "required": [
                "artifactType",
                "fileName",
                "sourceSha"
              ],
              "properties": {
                "artifactType": {
                  "type": "string",
                  "enum": [
                    "note",
                    "presentation",
                    "presenter"
                  ]
                },
                "fileName": {
                  "type": "string",
                  "maxLength": 120
                },
                "sourceSha": {
                  "type": "string",
                  "minLength": 40,
                  "maxLength": 64,
                  "pattern": "^[a-f0-9]{40,64}$",
                  "description": "Current Git blob SHA; required when replacing or deleting an existing file. A mismatch returns 409."
                }
              }
            },
            "description": "Bulk companion deletion within one study. Every selected source is version-checked before branch creation."
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "artifactType": {
                  "enum": [
                    "note",
                    "presentation",
                    "presenter"
                  ]
                }
              },
              "required": [
                "artifactType"
              ]
            },
            "then": {
              "required": [
                "fileName"
              ]
            }
          },
          {
            "if": {
              "properties": {
                "artifactType": {
                  "const": "companions"
                }
              },
              "required": [
                "artifactType"
              ]
            },
            "then": {
              "required": [
                "artifacts"
              ]
            },
            "else": {
              "required": [
                "sourceSha"
              ]
            }
          }
        ]
      },
      "NotifyRequest": {
        "type": "object",
        "required": [
          "login",
          "event"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "GitHub login, with or without a leading @.",
            "maxLength": 40
          },
          "event": {
            "type": "string",
            "enum": [
              "approved",
              "declined",
              "merged"
            ]
          },
          "title": {
            "type": "string",
            "maxLength": 500
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          }
        }
      },
      "OperationResponse": {
        "type": "object",
        "required": [
          "success",
          "operationId",
          "state",
          "retryAllowed"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether a completed operation produced its intended GitHub result. False for non-terminal states and completed validation failures."
          },
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "notStarted",
              "inProgress",
              "complete",
              "uncertain"
            ]
          },
          "retryAllowed": {
            "type": "boolean",
            "description": "True only when the server has no receipt and the same operationId and unchanged content may be retried."
          },
          "result": {
            "type": "object",
            "additionalProperties": true,
            "description": "The original JSON response when state is complete. Its fields are also retained at top level for compatibility."
          },
          "recoveryBranch": {
            "type": "string",
            "description": "Deterministic GitHub branch that maintainers can inspect for an uncertain branch-based write."
          },
          "notStarted": {
            "type": "boolean",
            "description": "Compatibility flag equivalent to state=notStarted."
          },
          "inProgress": {
            "type": "boolean",
            "description": "Compatibility flag equivalent to state=inProgress."
          },
          "completed": {
            "type": "boolean",
            "description": "Compatibility flag equivalent to state=complete."
          },
          "uncertain": {
            "type": "boolean",
            "description": "Compatibility flag equivalent to state=uncertain."
          },
          "error": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ProposeRequest": {
        "type": "object",
        "required": [
          "title",
          "category",
          "description",
          "summary",
          "familiarity",
          "turnstileToken",
          "operationId"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "category": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 600
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "maxLength": 6000
          },
          "formal": {
            "type": "boolean",
            "description": "Legacy formal selection; use collection for new clients."
          },
          "familiarity": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "operationId": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "description": "Client-generated UUIDv4 retained across interrupted/retried requests. Reusing it with different content is rejected."
          },
          "collection": {
            "type": "string",
            "enum": [
              "topical",
              "formal",
              "applied"
            ],
            "default": "topical"
          }
        }
      },
      "SubmitRequest": {
        "type": "object",
        "required": [
          "slug",
          "author",
          "turnstileToken",
          "operationId"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "author": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "artifactType": {
            "type": "string",
            "enum": [
              "study",
              "note",
              "presentation",
              "presenter"
            ],
            "default": "study",
            "description": "Study, technical/research note, presentation, or Presenter’s Companion."
          },
          "fileName": {
            "type": "string",
            "description": "Required for note and presentation uploads; the registered destination basename to replace, or a safe new basename ending in .md or .pptx.",
            "maxLength": 120
          },
          "content": {
            "type": "string",
            "description": "UTF-8 Markdown content; runtime limit is 2,097,152 bytes.",
            "maxLength": 2097152
          },
          "contentBase64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded .pptx content for presentation submissions (10 MB maximum before encoding).",
            "maxLength": 13981016
          },
          "isNew": {
            "type": "boolean"
          },
          "proposalIssue": {
            "type": "integer"
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "operationId": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "description": "Client-generated UUIDv4 retained across interrupted/retried requests. Reusing it with different content is rejected."
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Required whenever an existing study, note, or presentation is replaced. Stale values return 409 with details.currentSource."
          },
          "assets": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/FigureAttachment"
            },
            "description": "Figure sources committed with the document. Up to 2 MB each and 3 MB for all attachments combined. Existing figures require sourceSha."
          },
          "presenter": {
            "$ref": "#/components/schemas/PresenterAttachment",
            "description": "Optional presenter Markdown submitted together with a PPTX."
          },
          "deckFileName": {
            "type": "string",
            "maxLength": 120,
            "description": "Required for artifactType presenter: existing deck under the same study."
          }
        },
        "oneOf": [
          {
            "required": [
              "content"
            ]
          },
          {
            "required": [
              "fileName",
              "contentBase64"
            ]
          }
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "artifactType": {
                  "const": "presenter"
                }
              },
              "required": [
                "artifactType"
              ]
            },
            "then": {
              "required": [
                "fileName",
                "content",
                "deckFileName"
              ]
            }
          }
        ]
      },
      "StatusChangeRequest": {
        "type": "object",
        "required": [
          "slug",
          "targetStatus",
          "turnstileToken",
          "operationId",
          "sourceSha"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "targetStatus": {
            "type": "string",
            "enum": [
              "draft",
              "released"
            ]
          },
          "reason": {
            "type": "string",
            "maxLength": 2000
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "operationId": {
            "type": "string",
            "format": "uuid",
            "maxLength": 36,
            "description": "Client-generated UUIDv4 retained across interrupted/retried requests. Reusing it with different content is rejected."
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Required whenever an existing study, note, or presentation is replaced. Stale values return 409 with details.currentSource."
          }
        }
      },
      "StudySource": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "success",
          "slug",
          "artifactType",
          "fileName",
          "content",
          "sourceSha"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "slug": {
            "type": "string",
            "maxLength": 60,
            "pattern": "^[A-Za-z0-9-]+$"
          },
          "artifactType": {
            "type": "string",
            "enum": [
              "study",
              "note",
              "presentation",
              "presenter"
            ]
          },
          "fileName": {
            "type": "string",
            "maxLength": 120
          },
          "content": {
            "type": "string",
            "maxLength": 2097152,
            "description": "Markdown for study/note sources; empty for presentations."
          },
          "sourceSha": {
            "type": "string",
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$"
          }
        }
      },
      "FigureAttachment": {
        "type": "object",
        "required": [
          "fileName",
          "contentBase64"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "maxLength": 120,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*\\.(svg|png|jpg|jpeg|webp|gif)$"
          },
          "contentBase64": {
            "type": "string",
            "contentEncoding": "base64",
            "maxLength": 2796204
          },
          "sourceSha": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Current Git blob SHA; required when replacing or deleting an existing file. A mismatch returns 409."
          }
        }
      },
      "PresenterAttachment": {
        "type": "object",
        "required": [
          "fileName",
          "content"
        ],
        "properties": {
          "fileName": {
            "type": "string",
            "maxLength": 120,
            "pattern": "^Presenters-Companion-[A-Za-z0-9][A-Za-z0-9-]*\\.md$"
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2097152
          },
          "sourceSha": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 40,
            "maxLength": 64,
            "pattern": "^[a-f0-9]{40,64}$",
            "description": "Current Git blob SHA; required when replacing or deleting an existing file. A mismatch returns 409."
          }
        }
      }
    },
    "headers": {
      "RequestId": {
        "description": "Correlation identifier for this failed request.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128
        }
      },
      "RateLimitPolicy": {
        "description": "Quota policy. The edge IP policy is 40 requests per 10 seconds; route-specific policies may also be listed.",
        "schema": {
          "type": "string"
        }
      },
      "RateLimit": {
        "description": "Structured remaining quota and seconds until reset for the most constraining worker policy.",
        "schema": {
          "type": "string"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a 429 response. This takes precedence over reset hints in RateLimit.",
        "schema": {
          "type": "string",
          "pattern": "^\\d+$"
        }
      }
    }
  }
}
